body {
  font-family: sans-serif;
}

input {
  border-radius: 16px; /*角丸*/
  border: none; /*枠線なし*/
  padding: 6px 16px; /*上下6px 左右16px -> 内側のつまり解消*/
  outline: none; /*フォーカスイン時の青い線なし*/
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

/*マウスでホバーしたときの処理*/
button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer; /*クリックできそうなポインターに変わる*/
}

li {
  margin-right: 8px; /*右側に余白*/
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px; /*内側の余白*/
  margin: 8px; /*外側の余白*/
  border-radius: 8px; /*角丸*/
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px; /*最小限の高さを確保する*/
  padding: 8px; /*内側の余白*/
  margin: 8px; /*外側の余白*/
  border-radius: 8px; /*角丸*/
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px; /*最小限の高さを確保する*/
  padding: 8px; /*内側の余白*/
  margin: 8px; /*外側の余白*/
  border-radius: 8px; /*角丸*/
}

/*title*/
.title {
  text-align: center; /*真ん中寄せ*/
  margin-top: 0; /*上のマージン0*/
  font-weight: bold; /*太字*/
  color: #666;
}

/*横並び*/
.list-row {
  display: flex; /*横並び*/
  align-items: center; /*綺麗に横一列*/
  padding-bottom: 4px; /*下の余白*/
}
